<section data-ng-controller="ChatroomController" data-ng-init="findOne(); beginChat();">
	
	<div class="page-header">
		<h1 data-ng-bind="chatroom.title"></h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == chatroom.user._id">
		<a class="btn btn-primary" href="/#!/chatrooms/{{chatroom._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="chatroom.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="chatroom.user.displayName"></span>
		</em>
	</small>
	<p class="lead" data-ng-bind="chatroom.description"></p>
	<pre id="messageBoard" class="messageBoard">
		<div id="messageRepeater" ng-repeat="message in messages">{{message.user}} : {{message.text}}<!--{{message.from}} to {{message.to}} : {{message.message}}--></div>
	</pre>
	<pre class="userList">
		<div id="userListRepeater" ng-repeat="user in users">{{user}}</div>
	</pre>
	<form name="inputForm" ng-submit="sendMessage()" ng-disabled="bSending">
		<input style="width:calc(100% - 50px);" name="input" type="text" ng-model="input" required></input>
		<a class="btn btn-primary" href="/#!/chatrooms/{{chatroom._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
	</form>
	
</section>